/Crypto.AccesoADatos/nbproject/private/
/Crypto.Web/nbproject/private/
/Crypto.AccesoADatos/build/
/Crypto.AccesoADatos/dist/
/Crypto.EntidadesDeNegocio/nbproject/private/
/Crypto.EntidadesDeNegocio/build/
/Crypto.Web/build/
/Crypto.EntidadesDeNegocio/dist/
